md-card {
  margin: 0.2em;
  padding: 0.5em;
  cursor: pointer;
}

.block {
  color: whitesmoke;
}

.singleValue {
  background-color: #7bc144;
}

.twoValue {
  background-color: #e30e62;
}

.captureValue {
  background-color: #0081c5;
}

.noValue {
  background-color: #9fc1e4;
}
