.blocks-container {
  display: flex;
  justify-content: flex-start;
}

md-toolbar {
  padding: 0.5em;
}

md-card {
  min-width: 5em;
  margin-right: 1em;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
