.blocks-container {
  display: flex;
  align-items: stretch;
}

.mat-toolbar-row {
  height: auto;
}

.blocks {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  flex: 2 1 auto;
}
