<div class="blocks-container">
  <md-toolbar color="accent">
    <h2>RegExp blocks</h2>
    <md-toolbar-row>
      <div class="blocks" [dragula]='"drag-bag"'>
        <cg-template-block
          class="for-copy"
          *ngFor="let block of blocks"
          [block]="block"
          [title]="block.name"
          [attr.data-type]="block.type"
          [type]="block.type">
        </cg-template-block>
      </div>
      <div class="blocks-remove for-remove" [dragula]='"drag-bag"' *ngIf="toRemove | async">
        <h1>Drop trash block here</h1>
      </div>
    </md-toolbar-row>
  </md-toolbar>
</div>
