<div class="content">
  <md-toolbar color="accent">
    <h2>Output</h2>
    <md-toolbar-row [dragula]='"drag-bag"'>
      <md-input-container color="accent">
        <input mdInput value="{{regExp | async}}">
      </md-input-container>
      <button md-raised-button color="warn">Copy</button>
    </md-toolbar-row>
    <md-toolbar-row>
      <div class="flags">
        <div class="flag-wrapper">
          <md-checkbox color="primary">g</md-checkbox>
          <span>Global matching</span>
        </div>
        <div class="flag-wrapper">
          <md-checkbox color="primary">i</md-checkbox>
          <span>Case ignoring</span>
        </div>
        <div class="flag-wrapper">
          <md-checkbox color="primary">m</md-checkbox>
          <span>Multiple lines matching</span>
        </div>
        <div class="flag-wrapper">
          <md-checkbox color="primary">y</md-checkbox>
          <span>Sticky search</span>
        </div>
      </div>
    </md-toolbar-row>
  </md-toolbar>
</div>
