<div class="content">
  <md-toolbar color="accent">
    <h2>Output</h2>
    <md-toolbar-row [dragula]='"drag-bag"'>
      <div class="output-area">
        <md-input-container color="accent">
          <input mdInput value="{{regExp | async}}" #inputTarget>
          <md-hint class="error">{{error | async}}</md-hint>
        </md-input-container>
        <button md-raised-button color="warn" [ngxClipboard]="inputTarget" (cbOnSuccess)="onCopy()">
          Copy
        </button>
      </div>
    </md-toolbar-row>
    <md-toolbar-row>
      <div class="flags">
        <cg-flag title="Global matching" modifier="g" [checked]="true"></cg-flag>
        <cg-flag title="Case ignoring" modifier="i"></cg-flag>
        <cg-flag title="Multiple lines matching" modifier="m" [checked]="true"></cg-flag>
        <cg-flag title="Sticky search" modifier="y"></cg-flag>
      </div>
    </md-toolbar-row>
  </md-toolbar>
</div>
