button {
  margin: 0.4em 0;
}

.mat-input-container {
  width: 100%;
}

.mat-toolbar-row {
  height: auto;
}

.flags {
  display: flex;
  align-items: flex-start;
  font-size: 0.7em;
  justify-content: space-between;
  flex-wrap: wrap;
}

cg-flag {
  margin: 0.4em;
}

.output-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.error {
  color: red;
  font-size: 0.7em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
