<md-card class="block" [ngClass]="{editable: isEditable}">
  <md-card-content class="content">
    <div [ngSwitch]="block.type | blockCategory">
      <div *ngSwitchCase="'NoValue'">
        <span>{{block.type | blockTypes}}</span>
      </div>
      <div *ngSwitchCase="'SingleValue'">
        <md-input-container>
          <input type="text" mdInput placeholder="{{block.type | blockTypes}}" [(ngModel)]="block.values[0]"
                 (input)="onValueInput()">
        </md-input-container>
      </div>
      <div *ngSwitchCase="'TwoValue'">
        <span>{{block.type | blockTypes}}</span>
        <md-input-container>
          <input type="text" mdInput [(ngModel)]="block.values[0]" (input)="onValueInput()">
        </md-input-container>
        -
        <md-input-container>
          <input type="text" mdInput [(ngModel)]="block.values[1]" (input)="onValueInput()">
        </md-input-container>
      </div>
      <div *ngSwitchCase="'Capture'">
        <span>{{getCaptureSymbol()}}</span>
      </div>
    </div>
  </md-card-content>
</md-card>
