.workspace-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

md-card {
  margin: 0.2em;
}

.mat-toolbar-row {
  height: auto;
}

.blocks {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
}

.combiner {
  display: block;
  padding: 1em;
}

cg-add-block{
  position: absolute;
  right: 10px;
  bottom: 0;
}
