<div class="workspace-container">
  <md-toolbar color="accent">
    <h2>Workspace</h2>
    <span class="remaining-space"></span>
    <button md-mini-fab (click)="clear()" color="primary">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
    <md-toolbar-row>
        <div class="blocks " [dragula]='"drag-bag"'>
          <cg-regex-block *ngFor="let block of blocks" [block]='block'></cg-regex-block>
        </div>
        <cg-add-block (blockAdd)="blockAdd($event)"></cg-add-block>
    </md-toolbar-row>
  </md-toolbar>
</div>
