.workspace-container {
  display: flex;
  justify-content: flex-start;
}

md-card {
  margin: 0.2em;
}

.mat-toolbar-row {
  height: auto;
}

.blocks {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.combiner {
  display: block;
  padding: 1em;
}
