.remaining-space {
  flex: 1 1 auto;
}

.workspace-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

md-card {
  margin: 0.2em;
}

.mat-toolbar-row {
  height: auto;
}

.blocks {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  min-width: 5em;
  padding: 0.5em 3.5em 0.5em 1em;
  border: 4px solid rgba(23, 94, 167, 0.26);
}

.combiner {
  display: block;
}

cg-add-block {
  display: flex;
  align-self: baseline;
}
