.header {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
}

.cdk-overlay-container .mat-menu-panel{
  max-height: 400px;
}

@media screen and (min-device-width: 320px) {
  h1 {font-size: 90%;}
}
